.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.big-container {
    display: flex;
    background-color: #282c34;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidemenu {
    width: 260px;
    background-color: #202123;
    padding: 10px;
}

.side-menu-button {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    transition: ease 0.25s;
}

.side-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-button span {
    padding-left: 6px;
    padding-right: 12px;
}

.chat-input-holder {
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-input-textarea {
    background-color: #40414f;
    width: 90%;
    border-radius: 5px;
    border: none;
    margin: 12px;
    outline: none;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 12px;
    color: white;
    font-size: 1.25em;
}

.chatbox {
    flex: 1;
    background-color: #343541;
    width: 100%;
    position: relative;
}

.chat-log {
    text-align: left;
    /*display: flex;*/

}

.chat-message.chatgpt {
    background-color: #444654;
}

.avatar {
    background: white;
    border-radius: 8px; /* Adjust the border-radius as needed for more or less rounded edges */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image fills the square container without stretching */
}

.message {
    padding-left: 10px;
    max-width: 80%; /* Adjust the max-width as needed */
    word-wrap: break-word; /* Allow the text to wrap within the container */
}

.chat-message-center {
    padding: 12px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.session-list {
    margin-top: 20px;
}

.session-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add some padding for breathing space */
    margin-bottom: 8px;
    cursor: pointer;
    background-color: #363940;
    border-radius: 5px;
    transition: background-color 0.2s; /* Add a transition effect for hover */
}

.session-item:hover {
    background-color: #444654; /* Apply the hover effect */
}

.session-name {
    color: white;
    font-weight: bold;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
    border: none;
    text-align: left; /* Align the text to the left */
}

.delete-button {
    color: #ff6666;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.2rem;
    flex-shrink: 0;
}

.delete-button:hover {
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
